* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BMJUA_ttf.ttf';
  font-weight: lighter;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.header {
  height: 15%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}

.header h1 {
  font-family: '잘풀리는오늘OTF Medium';
  font-size: 3rem; /* 안밥 크기 */
  color: #343a40;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}


.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, auto));
  grid-auto-rows: minmax(0, auto);
  width: 100%;
  max-width: 450px;
}

.option-button {
  margin: 15px 5px;
  padding: 20px 0px;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.option-button.selected {
  background-color: #ffada8; /* 버튼 색 */
  border-color: #ffada8;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
}

.nav-button-back {
  padding: 15px 40px;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
  background-color: #d9d9d9;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button-back:hover {
  background-color: #d9d9d9;
}

.nav-button-next {
  padding: 15px 40px;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
  background-color: #ffada8;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button-next:hover {
  background-color: #ffada8;
}
