header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  pointer-events: none;
}

/* 오직 텍스트 span에서만 클릭 가능 */
header h1 span {
  pointer-events: auto;
  cursor: pointer;
}


main p {
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  background-color: #d0f0ff;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  white-space: nowrap; /* 네이버지도에서 보기 줄바꿈 x */
}

a:hover {
  background-color: #c8edfe;
}

.restaurant {
  display: flex;
  background-color: #ebeff1;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  width: 85%;
  max-width: 500px;
  align-items: center;
}

.restaurant p {
  font-size: 20px;
  font-weight: 500;
}

.start-button {
  padding: 20px 110px;
  font-family: 'BMJUA_ttf.ttf';
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  background-color: #ffada8;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}
