.start-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* 배경색을 설정 */
}


.start-content
{
    text-align: center;
}


.subtitle 
{
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 10px;
}


.title
{
    font-size: 4rem; /* 안밥 텍스트 */
    color: #343a40;
    margin-bottom: 20px;
}


.start-button
{
    padding: 15px 30px;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.start-button:hover
{
    background-color: #0056b3;
}